In [1]:
import pandas as pd
import os
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
csvpath_city = os.path.join('raw_data','c:\\Users\\hoan\\Downloads\\city_data.csv')
pyber_city_df = pd.read_csv(csvpath_city)
csvpath_ride = os.path.join('raw_data','c:\\Users\\hoan\\Downloads\\ride_data.csv')
pyber_ride_df = pd.read_csv(csvpath_ride)

In [4]:
pyber_city_df.head()

             city  driver_count   type
0      Kelseyland            63  Urban
1      Nguyenbury             8  Urban
2    East Douglas            12  Urban
3   West Dawnfurt            34  Urban
4  Rodriguezburgh            52  Urban

In [5]:
pyber_city_df['type'].value_counts()

type
Urban       66
Suburban    42
Rural       18
Name: count, dtype: int64

In [6]:
pyber_gcity = pyber_ride_df.groupby('city')

In [7]:
pyber_gcity.head()

                      city                 date   fare        ride_id
0                 Sarabury  2016-01-16 13:49:27  38.35  5403689035038
1                South Roy  2016-01-02 18:42:34  17.49  4036272335942
2              Wiseborough  2016-01-21 17:35:29  44.18  3645042422587
3              Spencertown  2016-07-31 14:53:22   6.87  2242596575892
4               Nguyenbury  2016-07-09 04:42:44   6.28  1543057793673
...                    ...                  ...    ...            ...
2362           Matthewside  2016-05-18 02:00:30  48.67  2049161404256
2363           Matthewside  2016-08-08 14:02:35  24.97  2872494724827
2365  South Elizabethmouth  2016-07-19 09:35:59  31.09  2959749591417
2367          New Johnbury  2016-08-29 02:36:06  18.83  7368222134792
2374  South Elizabethmouth  2016-04-21 10:20:09  16.50  5702608059064

[618 rows x 4 columns]

In [8]:
city_fare = pyber_gcity['fare'].sum()

In [11]:
print(city_fare)

city
Alvarezhaven      741.79
Alyssaberg        535.85
Anitamouth        335.84
Antoniomouth      519.75
Aprilchester      417.65
                   ...
Williamchester    377.06
Williamshire      836.70
Wiseborough       430.86
Yolandafurt       544.11
Zimmermanmouth    679.24
Name: fare, Length: 125, dtype: float64

In [9]:
city_count = pyber_gcity['city'].count()

In [12]:
print(city_count)

city
Alvarezhaven      31
Alyssaberg        26
Anitamouth         9
Antoniomouth      22
Aprilchester      19
                  ..
Williamchester    11
Williamshire      31
Wiseborough       19
Yolandafurt       20
Zimmermanmouth    24
Name: city, Length: 125, dtype: int64

In [10]:
avg_city = pyber_gcity['fare'].sum()/pyber_gcity['city'].count()

In [13]:
print(avg_city)

city
Alvarezhaven      23.928710
Alyssaberg        20.609615
Anitamouth        37.315556
Antoniomouth      23.625000
Aprilchester      21.981579
                    ...
Williamchester    34.278182
Williamshire      26.990323
Wiseborough       22.676842
Yolandafurt       27.205500
Zimmermanmouth    28.301667
Length: 125, dtype: float64